<table border=1>
    <tr>
        <th>city</th>
        <th>postalCode</th>
        <th>street</th>
        <th>Username</th>
        <th>phone</th>
        <th>email</th>
        <th>weigth</th>
    </tr>
    <tr ng-repeat="parcelOrder in parcelOrders">
        <td>{{parcelOrder.city}}</td>
        <td>{{parcelOrder.postal_code}}</td>
        <td>{{parcelOrder.street}}</td>
        <td>{{parcelOrder.username}}</td>
        <td>{{parcelOrder.phone}}</td>
        <td>{{parcelOrder.email}}</td>
        <td>{{parcelOrder.weight}}</td>
        </li>
        </ul>
</tr>